body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;

  color: white;
  background-color: #849d8f;

  min-width: 1200px;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
  margin-top: 10px;
  padding: 0px;

  min-height: 35px;
}
.main-header img {
  float: left;
  width: 153px;
  height: 63px;

  vertical-align: bottom;
}

.main-navigation {
  float: left;
  width: 688px;
  margin-right: 13px;
  list-style: none;
}

.main-navigation ul {
  margin: 0;
  margin-left: 30px;
  padding: 0;
}

.main-navigation li {
  display: inline-block;

  padding: 23px 15px 22px;

  min-height: 20px;
}

.common-buttons {
  float: right;
  width: 267px;
  margin-left: 13px;
  padding: 13px 0px 18px 6px;

  min-height: 34px;
}

.common-buttons .btn {
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  padding: 8px;

  font-size: 14px;
  line-height: 16px;

  background-color: #9db1a5;

  border-radius: 16px;
  vertical-align: middle;
}

.btn-search {
  width: 17px;
}

.btn-search img {
  width: 17px;
  height: 17px;
  vertical-align: middle;
}

.common-buttons .btn-login {
  padding-top: 6px;
  padding-bottom: 7px;

  line-height: 19px;
}

.btn-login img {
  width: 20px;
  height: 19px;
  margin-right: 8px;
  vertical-align: middle;
}

.common-buttons .btn-basket {
  padding-top: 6px;
  padding-bottom: 6px;

  line-height: 20px;
}

.btn-basket img {
  width: 21px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.common-buttons .btn:last-child {
  margin-right: 0;
}

main {
  margin-top: 10px;
}

main > .container {
  padding-top: 1px;

  background-image: url("../img/ice-creams.png");
  background-repeat: no-repeat;
  background-position: center top;
}

main .btn {
  text-align: center;

  background-image: linear-gradient(#e74a35, #f26843);
  border: 0;

  border-radius: 50px;
  box-shadow: 0px 2px 2px 0px rgba(67, 6, 0, 0.36);
}

.working-information p {
  margin: 0;
  margin-top: -11px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.working-information p:last-child {
  margin-top: 11px;

  font-size: 22px;
  line-height: 24px;  
}

.index-main-banner {
  position: relative;

  height: 215px;
  margin-top: 274px;
}

.index-main-banner p {
  position: absolute;
  left: 239px;
  bottom: 55px;

  width: 670px;
  margin: 0 auto;
  margin-bottom: 40px;

  font-size: 60px;
  line-height: 60px;
}

.index-main-banner .btn {
  position: absolute;
  left: 429px;
  bottom: 0;

  display: block;
  width: 282px;
  height: 67px;
  margin: 0 auto;

  font-weight: bold;
  font-size: 32px;
  line-height: 67px;
  text-align: center;

  background-image: linear-gradient(#e74a35, #f26843);
  border: 0;

  border-radius: 50px;
  box-shadow: 0px 2px 2px 0px rgba(67, 6, 0, 0.36);
}

.slide-btns {
  position: absolute;
  bottom: 13px;
}

.slide-btns input {
  display: none;
}

.slide-btns label {
  display: inline-block;
  width: 19px;
  height: 19px;

  border: 2px solid white;

  border-radius: 50%;
}

.slide-btns label:first-child {
  background-color: white;
}

.index-banner {
  width: 520px;
  height: 188px;
  margin-top: 40px;
  padding: 15px 21px 23px 19px;
}

.index-banner:first-child {
  float: left;

  background-image: url("../img/banner-raspberry.png");
}

.index-banner:last-child {
  float: right;

  background-image: url("../img/banner-chocolate.png");
}

.index-banner h2 {
  margin-bottom: 25px;
}

.index-banner p {
  margin-bottom: 32px;

  font-size: 18px;
  line-height: 22px;
}

main .btn {
  display: inline-block;
  width: 167px;
  height: 46px;
}

.index-banner .btn {
  display: block;
  float: right;
  width: 167px;
  height: 46px;

  font-weight: bold;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
}

/* Outline только для сеток */
.outline-red {
  outline: 1px solid red;
}
.outline-black {
  outline: 1px solid black;
}


h1, h2 {
  font-size: 35px;
  line-height: 41px;
}

h2 {
  margin: 0;
}

a {
  font-size: 16px;
  line-height: 18px;

  color: white;

  border-bottom: 1px solid #9eb2a7;
  text-decoration: none;
}