body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;

  color: white;
  background-color: #849d8f;

  min-width: 1200px;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
  margin-top: 10px;
  padding: 0px;

  min-height: 35px;
}
.main-header img {
  float: left;
  width: 153px;
  height: 63px;

  vertical-align: bottom;
}

.main-navigation {
  float: left;
  width: 688px;
  margin-right: 13px;
  list-style: none;
}

.main-navigation ul {
  margin: 0;
  margin-left: 30px;
  padding: 0;
}

.main-navigation li {
  display: inline-block;

  padding: 23px 15px 22px;

  min-height: 20px;
}

.common-buttons {
  float: right;
  width: 267px;
  margin-left: 13px;
  padding: 13px 0px 18px 6px;

  min-height: 34px;
}

.common-buttons .btn {
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  padding: 8px;

  font-size: 14px;
  line-height: 16px;

  background-color: #9db1a5;

  border-radius: 16px;
  vertical-align: middle;
}

.btn-search {
  width: 17px;
}

.btn-search img {
  width: 17px;
  height: 17px;
  vertical-align: middle;
}

.common-buttons .btn-login {
  padding-top: 6px;
  padding-bottom: 7px;

  line-height: 19px;
}

.btn-login img {
  width: 20px;
  height: 19px;
  margin-right: 8px;
  vertical-align: middle;
}

.common-buttons .btn-basket {
  padding-top: 6px;
  padding-bottom: 6px;

  line-height: 20px;
}

.btn-basket img {
  width: 21px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.common-buttons .btn:last-child {
  margin-right: 0;
}

main {
  margin-top: 10px;
}

main > .container {
  padding-top: 1px;

  background-image: url("../img/ice-creams.png"),
    url("../img/gradient.png");
  background-repeat: no-repeat;
  background-position: center top;
}

main .btn {
  text-align: center;

  background-image: linear-gradient(#e74a35, #f26843);
  border: 0;

  border-radius: 50px;
  box-shadow: 0px 2px 2px 0px rgba(67, 6, 0, 0.36);
}

.working-information p {
  margin: 0;
  margin-top: -11px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.working-information p:last-child {
  margin-top: 11px;

  font-size: 22px;
  line-height: 24px;  
}

.index-main-banner {
  position: relative;

  margin-top: 274px;

  min-height: 215px;
}

.index-main-banner p {
  position: absolute;
  left: 239px;
  bottom: 55px;

  width: 670px;
  margin: 0 auto;
  margin-bottom: 40px;

  font-size: 60px;
  line-height: 60px;
}

.index-main-banner .btn {
  position: absolute;
  left: 429px;
  bottom: 0;

  display: block;
  width: 282px;
  height: 67px;
  margin: 0 auto;

  font-weight: bold;
  font-size: 32px;
  line-height: 67px;
  text-align: center;

  background-image: linear-gradient(#e74a35, #f26843);
  border: 0;

  border-radius: 50px;
  box-shadow: 0px 2px 2px 0px rgba(67, 6, 0, 0.36);
  text-shadow: 0px 2px 5px #a0200b;
}

.slide-btns {
  position: absolute;
  bottom: 13px;
}

.slide-btns input {
  display: none;
}

.slide-btns label {
  display: inline-block;
  width: 19px;
  height: 19px;

  border: 2px solid white;

  border-radius: 50%;
}

.slide-btns label:first-child {
  background-color: white;
}

.index-banner {
  width: 520px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 15px 21px 23px 19px;

  min-height: 188px;
}

.index-banner:first-child {
  float: left;

  background-image: url("../img/banner-raspberry.png");
}

.index-banner:last-child {
  float: right;

  background-image: url("../img/banner-chocolate.png");
}

.index-banner h2 {
  margin-bottom: 25px;
}

.index-banner p {
  margin-bottom: 32px;

  font-size: 18px;
  line-height: 22px;
}

.index-banner .btn {
  display: block;
  float: right;
  width: 167px;
  height: 46px;

  font-weight: bold;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
}

.item {
  display: inline-block;
  float: left;
  width: 267px;
  height: 322px;
  margin-right: 26px;
  margin-bottom: 40px;

  text-align: center;
}

.item:last-child {
  margin-right: 0;
}

.item img {
  width: 267px;
  height: 267px;

  border-radius: 50%;
}

.item-price {
  position: relative;
  top: -94px;

  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-align: left;
}

.item-price span {
  font-size: 45px;
}

.item-price img {
  width: 31px;
  height: 33px;

  border-radius: 0;
}

.item a {
  position: relative;
  top: -100px;
}

.index-about {
  margin-bottom: 40px;
  padding: 30px 20px 30px;

  font-size: 16px;
  line-height: 22px;

  color: black;
  background-image: url("../img/pattern-wafer.png");
  background-repeat: repeat-x;

  min-height: 246px;
  border-radius: 15px;
}

.index-about p {
  margin: 0;
}

.index-about p {  
  padding-left: 57px;

  background-repeat: no-repeat;
}

.index-about > p {
  margin-bottom: 15px;
  padding-left: 0;

  font-size: 24px;
  line-height: 30px;
}

.index-about-left p:nth-child(1), .index-about-right p:nth-child(1) {
  margin-bottom: 15px;
}

.index-about-left p:nth-child(1) {
  background-image: url("../img/ice-cream.svg");
}

.index-about-left p:nth-child(2) {
  background-image: url("../img/leaf.svg");
}

.index-about-right p:nth-child(1) {
  background-image: url("../img/cow.svg");
}

.index-about-right p:nth-child(2) {
  background-image: url("../img/thermometer.svg");
}

.index-about-left {
  float: left;
  width: 500px;
}

.index-about-right {
  float: right;
  width: 560px;
}

.index-new-post, .index-newsletter {
  margin-bottom: 40px;

  color: black;
}

.index-new-post {
  width: 538px;
  float: left;
  padding: 22px 0px 0px 20px;

  font-size: 16px;
  line-height: 22px;

  background-image: url("../img/new-post-strawberry.png");

  min-height: 198px;
}

.index-new-post p {
  margin: 0;
  margin-bottom: 15px;
}

.index-new-post a {
  display: inline-block;
  width: 286px;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;

  color: black;

  border: 0;
  text-decoration: underline;
}

.index-newsletter {
  float: right;
  width: 560px;

  background-image: url("../img/newsletter-mail.png");

  min-height: 220px;
}

.index-newsletter .wrap {
  width: 508px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 25px 21px 34px;

  background-color: #f8f7f4;

  min-height: 151px;
  vertical-align: middle;
  border-radius: 10px;
}

.index-newsletter p {
  margin: 0;
  margin-bottom: 40px;

  font-size: 16px;
  line-height: 22px;
}

.index-newsletter input[type="email"] {
  width: 345px;
  height: 13px;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;

  font-size: 16px;
  line-height: 24px;

  border: 1px solid rgba(70, 70, 70, 0.48);

  border-radius: 10px;
}

.index-newsletter input[type="submit"] {
  width: 130px;
  height: 45px;

  font-size: 18px;
  line-height: 22px;

  color: white;
}

.index-map {
  width: 1200px;
  height: 430px;
  margin: 0 auto;

  background-image: url("../img/map.jpg");
}

.index-map p {
  margin: 0;
}

.index-map-information {
  float: right;
  width: 280px;
  margin-top: 63px;
  margin-right: 27px;
  padding-top: 30px;
  padding-left: 25px;

  background-color: white;

  border-radius: 10px;
  min-height: 270px;
}

.index-map-information p {
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 20px;

  color: black;
}

.index-map-information b, .index-map-information .btn {
  font-size: 18px;
  line-height: 24px;
}

.index-map-information .btn {
  display: inline-block;
  width: 250px;
  height: 45px;

  line-height: 45px;
}

/* Outline только для сеток */
.outline-red {
  outline: 1px solid red;
}
.outline-black {
  outline: 1px solid black;
}


h1, h2 {
  font-size: 35px;
  line-height: 41px;
}

h2 {
  margin: 0;
}

a {
  font-size: 16px;
  line-height: 18px;

  color: white;

  border-bottom: 1px solid #9eb2a7;
  text-decoration: none;
}